#console1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 150vh;
    height: 95vh;
    margin: 0 auto;
    padding: 2.5vh 0;
    row-gap: 2.5vh;
}

#console, #title {
    position: relative;
}
#console {
    width: 150vh;
    height: 85vh;
    display: flex;
    gap: 15vh;
}
#title, .section.bg {
    background-color: #555555;
    box-shadow: 0 0 3vh #1D1D1D;
    border-radius: 1vh;
}
#title {
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
    z-index: 100;
    position: relative;
}
#title > .section {
    width: 40vh;
    align-items: center;
    justify-content: center;
    line-height: 7.5vh;
    font-size: 3vh;
}
.section {
    display: flex;
    position: relative;
}
.section.vertical {
    flex-direction: column;
}
#console .tile {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40vh;
}
#console .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 6vh #101010;
    align-items: center;

    height: 100%;
    transition: transform .2s, box-shadow .2s, background-color .2s;
}
#console .card:hover {
    transform: scale(1.01);
    background-color: #666666;
}
#console .card:active {
    transform: scale(0.97);
    background-color: #666666;
}
#console .icon {
    width: 10vh;
}
#console .label {
    font-size: 2.5vh;
    line-height: 5.5vh;
}
#console .dept {
    position: relative;
    overflow: hidden;
    top: 2vh;
    opacity: 0;
}

#console > .ops {
    width: 50vh;
}
#console > .jobs {
    width: 115vh;
}