.planner {
    width: 115vh;
}

.planner .cell.sample,
.planner .cell.plan {
    justify-content: center;
    padding: 0;
}
.planner .cell.dim,
.planner .cell.plan,
.planner .cell.sample {
    transition: background-color .4s;
    cursor: pointer;
}

.planner .content:hover .left,
.planner .cell.plan:hover,
.planner .cell.sample:hover,
.planner .cell.sample.hover {
    background-color: #777777;
    transition: background-color .2s;
}

.planner .cell.plan {
    background-color: #555555;
    height: 4.5vh;
}
.planner .plan.fail,
.planner .sample.fail {
    background-color: #dc5451;
}
.planner .plan.fail:hover,
.planner .sample.fail {
    background-color: #ef8c8a;
}
.planner .plan.done {
    background-color: #59d45f;
}
.planner .plan.done:hover {
    background-color: #93f198;
}
.planner .plan.insp {
    background-color: #f8de49;
}
.planner .plan.insp:hover {
    background-color: #f5e483;
}

.planner .plan.pick:before {
    content: '\2713';
    display: inline-block;
}