.popup.login {
    width: 24vh;
    gap: 1.5vh;
    align-items: center;
    padding: 2vh 0;
}
.popup.login .display {
    line-height: 5vh;
    height: 5vh;
    width: 19.2vh;
    font-size: 3vh;
    text-align: center;
    overflow: auto;
}
.popup.login .row {
    width: 20vh;
    gap: 1vh;
}
.popup.login .number {
    font-size: 4vh;
    min-width: 6vh;
    max-width: 9.5vh;
    flex-grow: 1;
    height: 6vh;
    text-align: center;
    line-height: 6vh;
    border-radius: 1vh;
    box-shadow: 0 0 1vh #1D1D1D;
}
.popup.login .number:hover {
    transform: scale(1.05);
}
.popup.login .number:active {
    transform: scale(0.95);
}
.popup.login .clear {
    line-height: 6vh;
}
.popup.login .accept,
.popup.login .clear {
    font-size: 3vh;
    width: 20vh;
    text-align: center;
    box-shadow: 0 0 1vh #1D1D1D;
}
.popup.login .accept {
    line-height: 5vh;
}