.alpha {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;

    background-color: #00000088;
    display: flex;
    overflow-x: auto;
}
.popup {
    position: relative;
    border-radius: 1vh;
    margin: auto auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.popup.info {
    width: 100vh;
    height: 70vh;
}
.popup.edit {
    width: 50vh;
    height: 22.5vh;
}
.popup.seri1 {
    width: 100vh;
    height: 70vh;
}
.popup.seri2 {
    width: 30vh;
    height: 70vh;
}
.popup.spc {
    min-width: 147vh;
    max-width: 147vh;
    height: 72vh;
}
body > .loading .progress {
    top: 4.25vh;
}