.alpha {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;

    background-color: #00000088;
    display: flex;
    overflow-x: auto;
}
.popup {
    position: relative;
    border-radius: 1vh;
    margin: auto auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.message.popup {
    font-size: 3vh;
    padding: 2vh;
    gap: 2vh;
}
.message.popup .options {
    justify-content: end;
    gap: 2vh
}
.message.popup .clicky {
    padding: 1vh;
}
#title > .loading .progress {
    top: 1.75vh;
}