.alpha {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;

    background-color: #00000088;
    display: flex;
    overflow-x: auto;
}
.popup {
    position: relative;
    border-radius: 1vh;
    margin: auto auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.message.popup {
    font-size: 3vh;
    padding: 2vh;
    gap: 2vh;
}
.message.popup .options {
    justify-content: flex-end;
    gap: 2vh
}
.message.popup .clicky {
    padding: 1vh;
}

#message {
    top: 0;
    height: 0;
    width: 100%;
    position: absolute;
}
#message .text {
    line-height: 5vh;
    z-index: 10000;
    font-size: 3vh;
    justify-content: center;
    background-color: #666;
    transform: translateY(3.75vh);
    width: fit-content;
    min-width: 50vh;
    padding: 0 2vh;
    margin: auto;
}
#title .loading .progress {
    top: 1.75vh;
}