.spc.popup {
    padding: 2vh;
    gap: 2vh;
    flex-direction: column;
    overflow: hidden;
    display: flex;
}
.spc.popup .s1 .q1,
.spc.popup .s1 .q2 {
    line-height: 4vh;
    font-size: 4vh;
}
.spc.popup .s2 .q1,
.spc.popup .s2 .q2,
.spc.popup .s2 .q4,
.spc.popup .s2 .q5,
#spc_tip .q1 {
    border-radius: 1vh;
    box-shadow: 0 0 1vh #1D1D1D;
}
.spc.popup .s2 .q1,
.spc.popup .s2 .q2 {
    background-color: #777777;
}
.spc.popup .s1 {
    gap: 2vh;
    display: flex;
}
.spc.popup .s2 {
    gap: 2vh;
    display: flex;
}
.spc.popup .q3 {
    gap: 2vh;
    display: flex;
    flex-direction: column;
}
.spc.popup .s4 {
    gap: 2vh;
    display: flex;
}
.spc.popup .s2 .q1 {
    min-width: 80vh;
    max-width: 80vh;
    height: 32vh;
    overflow: hidden;
    display: flex;
}
.spc.popup .s2 .q2 {
    min-width: 30vh;
    max-width: 30vh;
    height: 32vh;
    overflow: hidden;
    display: flex;
}
.spc.popup .s2 .q4 {
    position: relative;
}
.spc.popup .s2 .q5,
#spc_tip .q1 {
    background-color: #4A4A4A;
}

#spc_canvas1,
#spc_canvas3 {
    width: 80vh;
    height: 32vh;
}
#spc_canvas2,
#spc_canvas4 {
    width: 30vh;
    height: 32vh;
}

#spc_tip {
    width: 44vh;
    height: 15vh;
    z-index: 100;
    pointer-events: none;
    display: flex;
    position: fixed;

    background-color: #555555;
    box-shadow: 0 0 1vh #1D1D1D;
    border-radius: 1vh;
}
#spc_tip td {
    line-height: 3vh;
    font-size: 1.75vh;
}