.grid {
    overflow: auto;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}
.grid1 {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.grid1.vertical {
    overflow-x: hidden;
}
.grid2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 1vh;
}
.grid tr {
    line-height: 4.5vh;
}
.grid tr.top {
    z-index: 1;
    top: 0;
    position: sticky;
    box-shadow: 0 0 1vh #050505;
}
.grid1.dohover .content:hover td {
    background-color: #777777;
}

.grid .content td {
    transition: background-color 0.2s;
    background-color: #555555;
}
.grid td {
    font-size: 2.5vh;
    line-height: 4.5vh;
    text-align: left;
    padding: 0;
    padding-left: 2vh;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.grid .bg1 td,
.grid td.left,
.grid .bg2 {
    background-color: #444444;
}
.grid td.left {
    left: 0;
    position: sticky;
}
.grid tr.top td.left {
    background-color: #333333;
}

.grid .bg1 {
    position: absolute;
    width: 100%;
}
.grid .bg2 {
    position: absolute;
    height: 100%;
}
.grid .bg1 td {
    position: sticky;
    top: 0;
    width: 100%;
    display: block;
    padding: 0;
    height: 4.5vh;
}
.grid .bg2 td {
    position: sticky;
    left: 0;
    height: 100%;
    display: block;
    padding: 0;
    box-shadow: 0 0 1vh #050505;
}
.grid td.gdt {
    font-size: 3vh;
}

.shadow {
    box-shadow: 0 0 1vh #1D1D1D;
}