body {
    background-color: #444444;
    color: white;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
html, select, option, input, textarea {
    font-family: 'Metropolis';
}
input, textarea {
    color: white;
}
input:focus, textarea:focus,
input.focus, textarea.focus {
    outline: none;
    border-color: #d0d0d0 !important;
}
[hidden=true], [hidden=""] {
    display: none !important;
}
#wrapper {
    display: flex;
    width: 100vw;
}
#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.copy {
    display: none !important;
}
div {
    user-select: none
}
.gdt {
    font-family: 'Y145-2018';
    font-size: 2.75vh;
}

.clicky {
    background-color: #8872e9;
    box-shadow: 0 0 3vh #1D1D1D;
    border-radius: 1vh;
    transition: transform .1s, background-color .1s;
    cursor: pointer;
    text-align: center;
}
.clicky:hover {
    transform: scale(1.05);
    background-color: #a695f0;
}
.clicky:active {
    transform: scale(0.95);
    background-color: #a695f0;
}

.clicky.accept {
    background-color: #59d45f;
}
.clicky.accept:hover {
    background-color: #93f198;
}
.clicky.cancel {
    background-color: #dc5451;
}
.clicky.cancel:hover {
    background-color: #ef8c8a;
}

.clicky.toggle.invalid {
    color: white;
}
.clicky.invalid,
.clicky.accept.invalid,
.clicky.cancel.invalid {
    background-color: #777777;
    color: #444444;
}
.clicky.invalid:hover,
.clicky.accept.invalid:hover,
.clicky.cancel.invalid:hover {
    background-color: #888888;
}

option[disabled] {
    display: none;
}

select.display option {
    color: white;
}

select.display[required]:invalid {
    color: #aaa;
}

input.display, select.display, textarea.display {
    color: white;
    background-color: #444;
    border: #333 solid .4vh;
    transition: border-color .15s;
    border-radius: 1vh;
    box-shadow: 0 0 3vh #2e2e2e inset;
    outline: none;
}

input.display.invalid,
select.display.invalid,
textarea.display.invalid {
    border-color: #dc5451;
}