body {
    background-color: #444444;
    color: white;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
html, select, option {
    font-family: 'Metropolis';
}
[hidden=true], [hidden=""] {
    display: none !important;
}
#wrapper {
    display: flex;
    width: 100vw;
}
#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.copy {
    display: none !important;
}
div {
    user-select: none
}
.gdt {
    font-family: 'Y145-2018';
    font-size: 2.75vh;
}