#sidebar .title {
    height: 8vh;
    line-height: 8vh;
    font-size: 3.5vh;
    text-align: center;
}

#sidebar .item {
    height: 6vh;
    line-height: 6vh;
    font-size: 3vh;
    padding-left: 2vh;
    margin-bottom: .5vh;

    border-radius: 1vh;
    background-color: #777777;
    cursor: pointer;
    transition: transform .2s, background-color .2s, box-shadow .2s,
        padding .3s, color .3s;
    transform-origin: left;
}

#sidebar .item.off {
    pointer-events: none;
    color: #444444;
    padding-left: 3vh;
}

#sidebar .item.on {
    background-color: #8872e9
}

#sidebar .item:hover {
    transform: scale(1.05);
    background-color: #999999;
    box-shadow: 0 0 3vh #333333;
}

#sidebar .spacer {
    height: 2vh;
}